*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 50vw;
    height: auto;
    background: linear-gradient(blue,coral);
    margin: auto;
    margin-top: 90px;
}
.container h1{
    text-align: center;
}
.form-group input{
    width: 350px;
    margin: auto;
}
.form-group .lab{
    margin-left: 360px; 
}
.btn{
    margin-left: 360px;
}
#interval-result .box{
    border: transparent;
    background: wheat;
    font-size: 15px;
    width: 38%;
    margin: auto;
    margin-top: 20px;
}